.score {
  color: #1e1e1e;
}
.lives {
  color: #1e1e1e;
  padding-right: 15px;
}
.time {
  color: #1e1e1e;
}

.hud-data {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.score-and-lives {
  display: flex;
  flex-direction: row;
}